################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SQLite/.vs/SQLite/v16/ipch/AutoPCH/da97dc0c77f04f67/MAIN.ipch
/SQLite/.vs/SQLite/v16/.suo
/SQLite/.vs/SQLite/v16/Browse.VC.db
/SQLite/.vs/SQLite/v16/Browse.VC.opendb
/SQLite/SQLite.vcxproj.user
/SQLite/.vs/SQLite/v16/ipch/AutoPCH/dede156d4677edc5/FASTUSESQLITE.ipch
/SQLite/.vs/SQLite/v16/ipch/AutoPCH/e401945c0a3a06d6/FASTUSESQLITE.ipch
/SQLite/obj/x64/Debug/SQLite.Build.CppClean.log
/SQLite/obj/x64/Debug/SQLite.log
/SQLite/obj/x64/Debug/SQLite.vcxproj.FileListAbsolute.txt
